<h1>Create Post</h1>
<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :name %><br>
      <%= f.text_field :name %><br>
  </p>
  <p>
    <%= f.label :photo %><br>
      <%= f.text_field :photo %><br>
  </p>
  <p>
    <%= f.label :last_contact_date %><br>
      <%= f.text_field :last_contact_date %><br>
  </p>
  <p>
    <%= f.label :sex %><br>
      <%= f.text_field :sex %><br>
  </p>
  <p>
    <%= f.label :"date of birth" %><br>
      <%= f.text_field :dob %><br>
  </p>
  <p>
    <%= f.label :complexion %><br>
      <%= f.text_field :complexion %><br>
  </p>
  <p>
    <%= f.label :description %><br>
      <%= f.text_area :description %><br>
  </p>
  <p>
    <%= f.submit %><br>
  </p>

  <% end %>
