<p><%= @post.name %></p><br>
<p><%= @post.photo %></p><br>
<p><%= @post.last_contact_date %></p><br>
<p><%= @post.sex %></p><br>
<p><%= @post.dob %></p><br>
<p><%= @post.complexion %></p><br>
<p><%= @post.description %></p>
<p>posted <%= time_ago_in_words(@post.created_at) %> ago</p>

